<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minerva</title>
</head>
<body>
    <header>
        <h1 class=navbar>Minerva</h1>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer>
            <a href="">Products</a>
            <a href="">Privacy Statement</a>
            <a href="">Support</a>
            <a href="">Company</a>
        </footer>
</body>
</html>

<!--figure out how to use bootstrap to move buttons in the right place,(right) per user(prototype with student)-->