<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minerva</title>
</head>
<body>
    <header>
        <h1>Minerva</h1>
        {{welcome User.name}}
        <!----->
            <div> 
                <button>My Courses</button>
                <button>Submitted Assignments</button>
                <button>Log Out</button>
            </div>
        </header>
    <footer>
            <a href="">Products</a>
            <a href="">Privacy Statement</a>
            <a href="">Support</a>
            <a href="">Company</a>
        </footer>
</body>
</html>