{% extends "base.html"%}
{% start block%}
<section>Class Name</section>
<hr>
<!--Placeholder list, definitely gonna be and iterable/condition -->
<!--create a "test student(as well as the others)" -->
<ul class="list-group">
    <li class="list-group-item">First Item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
    <li class="list-group-item">Fourth item</li>
    <li class="list-group-item">Five item</li>
    <li class="list-group-item">Six item</li>
</ul>

{% endblock%}